/* CSS for Index.html */
		.jumbotron {
		    background-color:#0A2140;
		    color: white;
		    text-align: center;
		};

		.container {
		    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		    margin: 0 auto;
		    margin: 20px;
		};