/* SITE CONTAINER */
.site_container {
    max-width: 100%;
    padding: .5em 2em;
}
body {
    background: #eee;
    margin: 0;
}
/* HEADER */
header {
    margin: 0 auto;
    text-align: center;
    background: #454b69;
    color: #fff;
    text-shadow: 1px 3px 8px #000;
    padding: 1em;
    border-bottom: 1em solid #e39ee3;
}
/* TRAIN SCHEDULE */
#current_train_schedule {
    background: #eee;
    margin: 0 auto;
    max-width: 50%;
    padding:1em;
}
table {
    width:100%;
    text-align: center;
}
/* ADD A TRAIN */
#add_train_div {
    margin: 0 auto;
    max-width: 50%;
}
.input_style {
    width: 100%;
}
.btn {
    padding: .5em 2em;
    background: #ffddaa;
    color: #403535;
    margin-top: 1em;
    border-radius: .5em;
    font-size: .8em;
    border-color:#ceac7a;
    box-shadow: 1px 3px 8px #403535;
}